body{
  background-color: #222020;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.card{
  height: 200px;
  background-color: #4f82f9;
  border-radius: 8px;
}
